/*----------CSS RESET----------*/
body, input, button, select, textarea, label {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
}

body:has(.games) {
    display:flex;
    flex-direction: column;
}

/* priekš pirmās lapas */
.games{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    padding: 10px;
}
.memory-game{
    grid-column: 1; 
    display: flex;
    align-items: center; 
    justify-content: center;
}
.typing{
    grid-column: 2; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

/*----------MEMORY GAME----------*/
.modes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mode-card {

}

/* kāršu container */
.wrapper {
    height: 600px;
    width: 600px;
    padding: 35px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* kārtis */
.cards, .card, .view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
    height: calc(100% / 4 - 15px);
    width: calc(100% / 4 - 15px);
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%{
        transform: translateX(-13px);
    }
    40%{
        transform: translateX(13px);
    }
    60%{
        transform: translateX(-8px);
    }
    80%{
        transform: translateX(8px);
    }
}

.cards .card .view {
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    position: absolute;
    background: #ffe6eb;
    border-radius: 7px;
    border: 2px solid #ff6f91;
    backface-visibility: hidden;
    transition: transform 0.25s linear;
    box-shadow: 0 3px 10px rgb(0,0,0,0.1);;
}

.card .front-view span{
    color: #ff1744;
    font-size: 43px;
}

.card .back-view {
    transform: rotateY(-180deg);
    background-color: #ffccd5;
}

.card .back-view img {
    max-width: 100px;
    height: auto;
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card img {
    max-width: 100%;
    height: auto;
    display: block;
}